
### Intellij Idea ###
.idea/
.iml

### Spring Boot local configuration ###
/spring-boot-ingestion/src/main/resources/application.properties

.env
data/errors/
data/split/

### maven build output###
target/

### Python cache ###
__pycache__/
*.pyc

dependency-reduced-pom.xml